<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Comité Organizador
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <ion-card-title>Presidenta</ion-card-title>
            Ing. Gisela Díaz García, Presidenta del Consejo Provincial de la Unión de Informáticos de Cuba en
            Cienfuegos.

            <br>
            <br>

            <ion-card-title>Vicepresidentes</ion-card-title>
            <ul>
                <li>MSc. Oscar Luis Muñoz, Vicepresidente del Consejo Provincial de la Unión de Informáticos de Cuba en
                    Cienfuegos
                </li>
                <li>MSc. Alexis Gómez Domínguez, Vocal del Consejo Provincial de la Unión de Informáticos de Cuba en
                    Cienfuegos
                </li>
                <li>MSc. Denis Morejón Lopez, Miembro del Consejo Provincial de la Unión de Informáticos de Cuba en
                    Cienfuegos
                </li>
            </ul>

            <br>

            <ion-card-title>Secretaria ejecutiva</ion-card-title>
            Lic. Liliana Llanes Robaina, Especialista principal en la Sede de la UIC Cienfuegos

            <br>
            <br>

            <ion-card-title>Comité Técnico</ion-card-title>
            <ul>
                <li>MSc. Raydel Avello Martinez, Universidad de Cienfuegos</li>
                <li>MSc. Oscar Luis Muñoz, Vicepresidente del Consejo Provincial de la Unión de Informáticos de Cuba en
                    Cienfuegos
                </li>
                <li>MSc. Kadir Hector , Vicepresidente del Consejo Provincial de la Unión de Informáticos de Cuba en
                    Cienfuegos
                </li>
                <li>MSc. Denis Morejón Lopez, Empresa de Telecomunicaciones de Cuba</li>
                <li>MSc. Karina Fernández Sánchez, Empresa de Telecomunicaciones de Cuba</li>
                <li>MSc. Redeis Alonso Labrada, Empresa de Telecomunicaciones de Cuba</li>
                <li>MSc. Mario Isiel Merino Escoto, CUVENPETROL SA.</li>
                <li>MSc. Alexis Gómez Domínguez, CUVENPETROL SA.</li>
                <li>Lic. Yamilé Lajos, UNE</li>
            </ul>
        </ion-card-content>
    </ion-card>
</ion-content>
