<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{conference.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon name="md-close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{conference.place}}</ion-card-subtitle>
      <ion-card-title>{{conference.name}}</ion-card-title>
    </ion-card-header>

    <ion-item *ngIf="conference.responsible">
      <ion-icon name="person" slot="start"></ion-icon>
      {{conference.responsible}}
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Día {{conference.day}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="time" slot="start"></ion-icon>
      <ion-label>{{conference.time}}</ion-label>
    </ion-item>

    <ion-card-content *ngIf="conference.description">
        {{conference.description}}
    </ion-card-content>
  </ion-card>

  <app-vote-links [conference]="conference"></app-vote-links>

</ion-content>
