<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Acerca de
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/soberania.jpg" alt=""/>
        <ion-card-content>
            <p style="text-align: center">II Jornada de Soberanía Tecnológica es una aplicación de código abierto
                alojadada en <a href="https://github.com/daxslab/ii-jornada-soberania-tecnologica" target="_blank">https://github.com/daxslab/ii-jornada-soberania-tecnologica</a>
            </p>
        </ion-card-content>
        <ion-card-header>
            <ion-card-title style="text-align: center">Desarrollo de la Aplicación</ion-card-title>
        </ion-card-header>
        <ion-card-content>

            <ion-grid class="contacts">
                <ion-row>
                    <ion-col>
                        <a href="http://www.daxslab.com"><img src="/assets/daxslab-horizontal.png"/></a>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <a href="tel:+5358074332">
                            <ion-icon name="call"></ion-icon>
                        </a>
                    </ion-col>
                    <ion-col>
                        <a href="mailto:info@daxslab.com?subject=JST2&body=Hola!">
                            <ion-icon name="mail"></ion-icon>
                        </a>
                    </ion-col>
                    <ion-col><a href="">G</a></ion-col>
                    <ion-col><a href="">F</a></ion-col>
                    <ion-col><a href="">t</a></ion-col>
                    <ion-col><a href="">T</a></ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>

