<ion-grid>
  <ion-row style="text-align: center">
    <ion-col>
      <ion-button expand="full" color="success" href="//jst.daxslab.com/event/view?id={{conference.id}}&like=1#comments" target="_blank">
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="danger" href="//jst.daxslab.com/event/view?id={{conference.id}}&like=0#comments" target="_blank">
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
