<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Protocolo para el Evento
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            Para que su estancia en la <strong>II Jornada de Soberanía Tecnológica</strong> se torne más confortable y
            provechosa, el
            comité organizador del evento ha dispuesto para usted este soporte en el cual se puede guiar ante cualquier
            eventualidad:
            <ul>
                <li>Usted va a tener acceso a una aplicación creada para el evento donde se puede mantener informado de
                    todo lo que va a estar aconteciendo en cada una de las comisiones.
                </li>
                <li>Estarán habilitadas los espacios oficiales del evento en para que
                    puedan compartir sucesos relevantes del mismo, pidíendole siempre no exponer ninguna información o
                    imagen que se salga del marco profesional.
                    <ul>
                        <li>Telegram: <a href="https://t.me/joinchat/HVUHYBcCVC_Iqdw1ng4joA">Grupo</a></li>
                        <li>Twitter: #SoberaníaTecnológica</li>
                        <li>Facebook: <a href="https://www.facebook.com/events/744194972712159/">Página del Evento</a></li>
                    </ul>
                </li>
                <li>Se les ruega evitar el consumo de bebidas alcohólicas en los salones del evento.</li>
                <li>Se les ruega no salir en el horario de las sesiones de trabajo a disfrutar de las instalaciones del
                    hotel.
                </li>
                <li>Ante cualquier situación, dudas o sugerencias no dude en acudir al comité organizador.</li>
            </ul>
        </ion-card-content>
    </ion-card>
    <img src="/assets/rancholuna.jpg" alt="Playa de Rancho Luna"/>
</ion-content>
