<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            II Jornada de Soberanía Tecnológica
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/soberania.jpg" alt=""/>
        <ion-card-header>
            <ion-card-title>Bienvenidos</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <p>
                La Unión de Informáticos de Cuba (UIC) convoca a la <strong>II Jornada Nacional de Soberanía Tecnológica
                desde la UIC</strong>, a celebrarse los días 5 y 6 de diciembre de 2019 en la provincia de Cienfuegos, Cuba.
            </p>

            <p>
                La Jornada persigue entre sus objetivos, promover e incentivar el intercambio de experiencias como
                resultado de las investigaciones y buenas prácticas referidas al empleo y desarrollo de aplicaciones y
                sistemas informáticos basados en Código Abierto, seguridad y cuestiones éticas y legales asociadas a las
                (TICs).
            </p>

            <ion-card-subtitle>Temáticas</ion-card-subtitle>

            <p>En la jornada se podrá participar como ponente y expositor (posters) en las siguientes temáticas:</p>
            <ul>
                <li>El desarrollo de aplicaciones y la provisión de servicios basados en Código Abierto.</li>
                <li>Seguridad en las Tecnologías de la Información y las Comunicaciones.</li>
                <li>Cuestiones éticas y legales asociadas a las Tecnologías de la Información y las Comunicaciones</li>
            </ul>

            <ion-card-subtitle>Lugar</ion-card-subtitle>

            <p>La jornada se desarrollará en las instalaciones del Hotel Rancho Luna, perteneciente a la cadena Gran
                Caribe, dirección km 17 Carretera a Pasacaballo, Playa Rancho Luna.</p>

            <p>Entre las principales atracciones del entorno se encuentra la Playa Rancho Luna, el Parque Acuático
                Inflable
                y el Delfinario.</p>
        </ion-card-content>
    </ion-card>
</ion-content>

