<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Colaboradores
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <a href="https://www.uic.cu" target="_blank"><img src="/assets/uic.png" alt="UIC"/></a>
        <ion-content>
            <ion-card-title>UIC</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://www.etecsa.cu" target="_blank"><img src="/assets/etecsa.jpg" alt="ETECSA"/></a>
        <ion-content>
            <ion-card-title>ETECSA Cienfuegos</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://www.cupet.cu" target="_blank"><img src="/assets/cupet.png" alt="Refinería de Cienfuegos"/></a>
        <ion-content>
            <ion-card-title>Refinería de Cienfuegos</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://www.unionelectrica.cu" target="_blank"><img src="/assets/une.png" alt="UNE Cienfuegos"/></a>
        <ion-content>
            <ion-card-title>UNE Cienfuegos</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://facebook.com/bllisimastudio" target="_blank"><img src="/assets/bellisima.png" alt="Bellísima Studio"/></a>
        <ion-content>
            <ion-card-title>Bellísima Studio</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>

    <ion-card>
        <a href="https://www.daxslab.com" target="_blank"><img src="/assets/daxslab.png" alt="Daxslab"/></a>
        <ion-content>
            <ion-card-title>Daxslab</ion-card-title>
            <p></p>
        </ion-content>
    </ion-card>
    <img src="/assets/rancholuna.jpg" alt="Playa de Rancho Luna"/>
</ion-content>
